################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trailmate/.vs
/Trailmate/bin/Debug
/Trailmate/obj/Debug
